<configuration scan="true" scanPeriod="3 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Strictly speaking, the level attribute is not necessary since -->
	<!-- the level of the root level is set to DEBUG by default.       -->
	<root level="WARN">
		<!--<appender-ref ref="APPLICATION"/>-->
		<appender-ref ref="STDOUT"/>
	</root>


	<logger name="nz.ac.auckland" level="DEBUG"/>
	<logger name="net.jawr" level="DEBUG"/>
</configuration>

